streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers==3.3.1
torch==2.6.0
torchvision==0.21.0
transformers==4.46.3
pypdf
langchain-ollama
ollama
python-dotenv
requests
supabase
deep-translator
gTTS
SpeechRecognition
langdetect
deep-translator
gTTS