streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
torch
torchvision
transformers
pypdf
langchain-ollama
ollama
python-dotenv
requests
supabase
deep-translator
gTTS
SpeechRecognition
langdetect
deep-translator
gTTS